langchain
langchain-community
langchain-core
langchain-groq

faiss-cpu
fastapi
uvicorn
python-dotenv

PyMuPDF
python-multipart
pypdf
structlog
docx2txt
streamlit
langchain_huggingface
sentence_transformers
hf_xet